body {
    background-color: #0a0a0a; /* Темный фон для контраста */
    color: #e0e0e0; /* Светлый цвет текста */
    font-family: 'Roboto', sans-serif; /* Шрифт для текста */
    line-height: 1.6; /* Высота строки для удобочитаемости */
    margin: 0;
    padding: 0;
}

/* Заголовки */
h1 {
    color: #2dfd08; /* Неоново зеленый цвет заголовка */
    text-shadow: 0 0 20px #39ff14, 0 0 30px #39ff14; /* Эффект свечения */
    text-align: center; /* Центрирование заголовка */
    padding: 20px 0;
}

h2, h3 {
    color: #39ff14; /* Неоново зеленый цвет заголовков */
    text-shadow: 0 0 10px #39ff14, 0 0 20px #39ff14; /* Эффект свечения */
}

nav {
    border: 2px solid #39ff14; /* Неоновая рамка вокруг секций */
    background-color: #222; /* Темный фон для навигации */
    padding: 10px;
}
nav a {
    color: #39ff14; /* Неоново зеленый цвет ссылок */
    text-decoration: none; /* Убираем подчеркивание */
    transition: color 0.3s, text-shadow 0.3s; /* Плавный переход при наведении */
}


/* Основной контент */
main {
    padding: 20px;
}

/* Секции */
section {
    border: 2px solid #39ff14; /* Неоновая рамка вокруг секций */
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px; /* Закругленные углы */
    background-color: rgba(30, 30, 30, 0.8); /* Полупрозрачный фон для секций */
}

/* Параграфы */
p {
    margin: 15px 0;
}

/* Упорядоченные списки */
ol {
    padding-left: 20px; /* Отступ слева для упорядоченного списка */
}

ol li {
    color: #39ff14; /* Неоново зеленый цвет текста списка */
    margin-bottom: 10px; /* Отступ между элементами списка */
}

/* Неупорядоченные списки */
ul {
    padding-left: 20px; /* Отступ слева для неупорядоченного списка */
}

ul li {
    color: #39ff14; /* Неоново зеленый цвет текста списка */
    margin-bottom: 10px; /* Отступ между элементами списка */
}

/* Футер (если будет добавлен) */
footer {
    text-align: center;
    padding: 10px;
    background-color: #222; /* Темный фон для футера */
    border-top: 2px solid #39ff14; /* Неоновая верхняя граница футера */
}
